@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@font-face {
    font-family: "font_cdh";
    src: url("../font/beneg___.ttf");
    /* src: url("../font/font_Caligo1.0.ttf"); */
    /* src: url("../font/Maximilian.ttf"); */
    /* src: url("../font/MaximilianZierbuchstaben.ttf"); */
    /* src: url("../font/Font Negra.ttf"); */
    /* src: url("../font/SpartanburgSC-Regular.ttf"); */
  }
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #161616; */
    background: black;
}
section .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #e51e2a; */
    background: #fff;
    clip-path: circle(70% at right -20%);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    filter: invert(100%);
    position: relative;
    max-width: 150px;
    width: 300px;
}
header .navigation
{
    position: relative;
    display: flex;
    z-index: 10;
}
header .navigation li
{
    list-style: none;
    margin-right: 45px;
}
header .navigation li a
{
    display: inline-block;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-family: "font_cdh";
    font-size: 2em;
    letter-spacing: 5px;
}
header .navigation li a:hover
{
    animation: plop .9s infinite alternate;
}
@keyframes plop{
    0% {
        text-shadow: 0 0 1px rgb(182, 12, 12);
    }
    100%{
        text-shadow: 0 0 10px rgb(182, 12, 12),0 0 30px rgb(182, 12, 12),0 0 80px rgb(182, 12, 12);
    }
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .grupo-inicio
{
    position: relative;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    background-image: url("../img/fogata.png");
    background-size: cover;
    box-shadow: inset 0px 0px 30px 40px black;
    /* border: 1px solid green; */
    top: 190px;
    z-index: 100000;
}
.grupo-inicio .particle-fire1
{
    position: absolute;
    top: 60%;
    /* left: 45%; */
    width: 7px;
    height: 9px;
    background-color: #efa300;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp3 3.5s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.grupo-inicio .particle-fire2
{
    position: absolute;
    top: 60%;
    left: 55%;
    width: 8px;
    height: 8px;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 4s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.grupo-inicio .particle-fire3
{
    position: absolute;
    top: 60%;
    /* left: 40%; */
    width: 5px;
    height: 6px;
    background-color: #efa300;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #f8d614);
    animation: particleUp2 2.5s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.grupo-inicio .particle-fire4
{
    position: absolute;
    top: 60%;
    left: 52%;
    width: 5px;
    height: 7px;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp 2.9s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.grupo-inicio .particle-fire5
{
    position: absolute;
    top: 60%;
    /* left: 48%; */
    width: 7px;
    height: 9px;
    background-color: #ac490b;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp2 2s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.grupo-inicio .particle-fire6
{
    position: absolute;
    top: 60%;
    /* left: 39%; */
    width: 4px;
    height: 8px;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp3 3.8s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.grupo-inicio .particle-fire7
{
    position: absolute;
    top: 60%;
    /* left: 50%; */
    width: 6px;
    height: 8px;
    background-color: #ef5a00;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px #d43322);
    animation: particleUp2 3s ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes particleUp
{
    0% {
          opacity: 0;
        }
    20% {
          opacity: 1;
        }
    80% {
          opacity: 0;
        }
    100% {
          opacity: 0;
          top: -100%;
          transform: scale(0.5);
        }
}
@keyframes particleUp2
{
    0% {
          opacity: 0;
          left: 40%;
        }
    20% {
          opacity: 1;
          left: 50%;
        }
    80% {
          opacity: 1;
          left: 40%;
        }
    100% {
          opacity: 0;
          left: 50%;
          top: -100%;
          transform: scale(0.5);
        }
}
@keyframes particleUp3
{
    0% {
          opacity: 0;
          left: 50%;
        }
    20% {
          opacity: 1;
          left: 30%;
        }
    80% {
          opacity: 0;
          left: 40%;
        }
    100% {
          opacity: 0;
          left: 30%;
          top: -100%;
          transform: scale(0.5);
        }
}
#m1
{
    position: relative;
    display: flex;
    top: 20px;
    left: -240px;
    z-index: 10;
    cursor: pointer;
}
#m2
{
    position: absolute;
    display: flex;
    max-width: 180px;
    top: -110px;
    left: 60px;
    z-index: 1;
    cursor: pointer;
}
#m3
{
    position: absolute;
    display: flex;
    max-width: 190px;
    top: 10px;
    /* left: 350px; */
    left: 580px;
    z-index: 10;
    cursor: pointer;
}
#m4
{
    position: absolute;
    display: flex;
    max-width: 200px;
    top: 10px;
    left: -50px;
    z-index: 1;
    cursor: pointer;
}
#m5
{
    position: absolute;
    display: flex;
    max-width: 140px;
    top: -100px;
    left: 480px;
    z-index: 1;
    cursor: pointer;
    /* border: 1px solid greenyellow; */
}
#m6
{
    position: absolute;
    display: flex;
    max-width: 170px;
    top: -90px;
    left: 650px;
    z-index: 1;
    cursor: pointer;
    /* animation: aparece 6s; */
    /* animation-delay: 4s; */
    /* opacity: 0; */
}
#m7
{
    position: absolute;
    display: flex;
    max-width: 220px;
    top: -10px;
    left: 150px;
    z-index: 1;
    cursor: pointer;
    /* animation: aparece 6s; */
    /* opacity: 0; */
    /* animation-delay: aparece 1.5s; */
}
/* @keyframes aparece{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */
.grupo-inicio img
{
    width: 180px;
    height: 500px;
    object-fit: contain;
}
.grupo-inicio img:hover
{
    animation: resplandor .8s infinite alternate;
    /* opacity: 1; */
}
@keyframes resplandor{
    0% {
        filter: drop-shadow(1px 1px 1px rgb(182, 12, 12));
        /* opacity: 0.5; */
        /* filter: blur(3px); */
        /* transform: scale(1); */
    }
    100%{
        filter: drop-shadow(5px 5px 5px rgb(182, 12, 12));
        /* opacity: 1; */
        /* filter: blur(0px); */
        /* transform: scale(1.18); */
    }
}

.content .textBox
{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}
.content .textBox h2
{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}
.content .textBox p
{
    color: #fff;
}
#resultado
{
    font-family: "Indie Flower", cursive;
    font-size: 1.9em;
    color: rgb(182, 12, 12);
    text-shadow: 0 0 10px rgb(182, 12, 12),0 0 30px rgb(182, 12, 12),0 0 80px rgb(182, 12, 12);
    font-weight: bold;
    letter-spacing: 8px;
}
#casilla_miembros h2
{
    font-family: "font_cdh";
    letter-spacing: 6px;
    font-size: 5em;
    color: white;
}
.sci /*Redes sociales footer*/
{
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li /*Redes sociales footer*/
{
    list-style: none;
}
.sci li a /*Redes sociales footer*/
{
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.sci li a:hover /*Redes sociales footer*/
{
    /* background: #e51e2a; */
    background: #fff;
    transform: translateY(-10px);
}
.sci li a:hover > img /*Redes sociales footer*/
{
    filter: invert(0);
}
.sci li a img /*Redes sociales footer*/
{
    filter: invert(1);
    transform: scale(0.5);
}

/*SECTION DE LA TARJETA DE MIEMBRO*/
.card
{
    position: relative;
    width: 340px;
    height: 450px;
    background: #fff;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
}
.cross
{
    position: relative;
    width: 40px;
    height: 40px;
    padding: 2px 2px;
    top: -300%;
    left: -11%;
    border: 1px solid red;
    text-decoration: none;
    border-radius: 20px 0 40px 0;
    color: red;
    font-weight: bold;
}
.cross span {
    margin: 15px 1px;
    align-items: center;
}
.card h3
{
    position: relative;
    top: -35px;
}
.apodo
{
    position: relative;
    top: -35px;
}
.card .textIcon_t h4
{
    position: relative;
    top: -35px;
}
.circle_t
{
    position: absolute;
    top: -190px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;
    background: #333;
    clip-path: circle();
}
.circle_t::before
{
    content: '';
    position: absolute;
    top: -8px;
    left: -16px;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
}
.circle_t.img_t
{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 340px;
    height: 310px;
    background: #ff0;
}
.circle_t .img_t img
{
    position: absolute;
    top: 100px;
    left: 30px;
    width: 85%;
    height: 85%;
    object-fit: cover;
    transition: 0.5s;
    transform-origin: top;
}
.circle_t .img_t:hover img
{
    transform: scale(1.5);
}
.content_t
{
    position: absolute;
    top: 280px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    padding: 20px 30px;
}
.content_t .apodo
{
    font-family: "font_cdh";
    font-size: 1.9em;
}
.content_t .logo_fundador
{
    position: absolute;
    top: 30px;
    left: 275px;
    width: 55px;
    height: 55px;
}
.fa-whatsapp
{
    /* background: #075e54; */
    color: #075e54;
    padding: 2px 4px;
    border-radius: 50%;
}
.content_t h3
{
    font-size: 1.4em;
    color: #333;
    margin-top: 30px;
}
.textIcon_t
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textIcon_t h4
{
    font-weight: 400;
    color: #000;
}
.textIcon_t .fa
{
    color: #000;
}
/*SECCION DE LA TARJETA DE MIEMBRO*/
@media (max-width: 1790px){
}
@media (max-width: 1200px) {
    header
    {
        padding: 40px;
    }
    section
    {
        padding: 150px 40px;       
    }
    header .logo
    {
        /* filter: invert(0%); */
        margin-left: 35%;
    }
    .sci
    {
        left: 40px;
    }
    .content
    {
        flex-direction: column;
    }
    .content .textBox,
    .content .imgBox
    {
        max-width: 100%;
    }
    #casilla_miembros
    {
        margin-top: 38%;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: #e51e2a; */
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;

    }
    header .navigation li a
    {
        margin: 10px 0;
        font-size: 3em;
        font-weight: 300;
    }
}
@media (max-width: 1100px) {
    header a
    {
        filter: invert(0%);
        position: relative;
        max-width: 150px;
        width: 300px;
        left: 5%;
    }

    header .navigation li a
    {
        display: inline-block;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
        font-family: "font_cdh";
        font-size: 4em;
        letter-spacing: 5px;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1;
        filter: invert(100%);
    }
    .toggle.active
    {
        position: fixed;
        right: 40px;
        background: url('../img/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    #casilla_miembros h2
    {
        font-family: "font_cdh";
        position: relative;
        top: -80px;
        letter-spacing: 6px;
        font-size: 4em;
        color: white;
    }
    #resultado
    {
        position: relative;
        top: -80px;
        height: 350px;
    }
    .card
    {
        position: relative;
        width: 340px;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid red;
        top: -100px;
        right: -10px;
    }
    .content .grupo-inicio
    {
        position: relative;
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/fogata.png");
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 30px 40px black;
        top: -100px;
        z-index: 1;
    }
    .grupo-inicio img
    {
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }
    #m1
    {   
        top: 10%;
        left: -30%;
        z-index: 10;
        cursor: pointer;
        max-width: 20%;
    }
    #m2
    {
        height: 65%;
        top: 5%;
        left: 15%;
        cursor: pointer;
        max-width: 20%;
    }
    #m3
    {
        top: 10%;
        left: 73%;
        cursor: pointer;
        max-width: 20%;
    }
    #m4
    {
        top: 5%;
        left: 0%;
        cursor: pointer;
        max-width: 20%;
    }
    #m5
    {
        height: 65%;
        top: 5%;
        left: 63%;
        cursor: pointer;
        max-width: 20%;
    }
    #m6
    {
        top: -10%;
        left: 82%;
        cursor: pointer;
        max-width: 20%;
    }
    #m7
    {
        top: 5%;
        left: 27%;
        cursor: pointer;
        max-width: 20%;
    }
    .content_t h3
    {
        font-size: 1.4em;
        color: #333;
        margin-top: 30px;
    }
    .sci
    {
        margin-left: 38%;
    }
}
@media (max-width: 991px) {
    header a
    {
        filter: invert(0%);
        position: relative;
        max-width: 150px;
        width: 300px;
        left: 5%;
    }

    header .navigation li a
    {
        display: inline-block;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
        font-family: "font_cdh";
        font-size: 4em;
        letter-spacing: 5px;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1;
        filter: invert(100%);
    }
    .toggle.active
    {
        position: fixed;
        right: 40px;
        background: url('../img/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    #casilla_miembros h2
    {
        font-family: "font_cdh";
        position: relative;
        top: -80px;
        letter-spacing: 6px;
        font-size: 4em;
        color: white;
    }
    #resultado
    {
        position: relative;
        top: -80px;
        height: 350px;
    }
    .card
    {
        position: relative;
        width: 340px;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid red;
        top: -100px;
        right: -10px;
    }
    .content .grupo-inicio
    {
        position: relative;
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/fogata.png");
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 30px 40px black;
        top: -100px;
        z-index: 1;
    }
    .grupo-inicio img
    {
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }
    #m1
    {   
        top: 10%;
        left: -30%;
        z-index: 10;
        cursor: pointer;
        max-width: 20%;
    }
    #m2
    {
        height: 65%;
        top: 5%;
        left: 15%;
        cursor: pointer;
        max-width: 20%;
    }
    #m3
    {
        top: 10%;
        left: 73%;
        cursor: pointer;
        max-width: 20%;
    }
    #m4
    {
        top: 5%;
        left: 0%;
        cursor: pointer;
        max-width: 20%;
    }
    #m5
    {
        height: 65%;
        top: 5%;
        left: 63%;
        cursor: pointer;
        max-width: 20%;
    }
    #m6
    {
        top: -10%;
        left: 82%;
        cursor: pointer;
        max-width: 20%;
    }
    #m7
    {
        top: 5%;
        left: 27%;
        cursor: pointer;
        max-width: 20%;
    }
    .content_t h3
    {
        font-size: 1.4em;
        color: #333;
        margin-top: 30px;
    }
    .sci
    {
        margin-left: 38%;
    }
}
@media (max-width: 800px) {
    header a
    {
        filter: invert(0%);
        position: relative;
        max-width: 150px;
        width: 300px;
        left: 5%;
    }

    header .navigation li a
    {
        display: inline-block;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
        font-family: "font_cdh";
        font-size: 4em;
        letter-spacing: 5px;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1;
        filter: invert(100%);
    }
    .toggle.active
    {
        position: fixed;
        right: 40px;
        background: url('../img/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    #casilla_miembros h2
    {
        font-family: "font_cdh";
        position: relative;
        top: -80px;
        letter-spacing: 6px;
        font-size: 4em;
        color: white;
    }
    #resultado
    {
        position: relative;
        top: -80px;
        height: 350px;
    }
    .card
    {
        position: relative;
        width: 340px;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid red;
        top: -100px;
        right: -10px;
    }
    .content .grupo-inicio
    {
        position: relative;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/fogata.png");
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 30px 40px black;
        top: -100px;
        z-index: 1;
    }
    .grupo-inicio img
    {
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }
    #m1
    {   
        top: 10%;
        left: -30%;
        z-index: 10;
        cursor: pointer;
        max-width: 20%;
    }
    #m2
    {
        height: 65%;
        top: 5%;
        left: 15%;
        cursor: pointer;
        max-width: 20%;
    }
    #m3
    {
        top: 10%;
        left: 73%;
        cursor: pointer;
        max-width: 20%;
    }
    #m4
    {
        top: 5%;
        left: 0%;
        cursor: pointer;
        max-width: 20%;
    }
    #m5
    {
        height: 65%;
        top: 5%;
        left: 63%;
        cursor: pointer;
        max-width: 20%;
    }
    #m6
    {
        top: -10%;
        left: 82%;
        cursor: pointer;
        max-width: 20%;
    }
    #m7
    {
        top: 5%;
        left: 27%;
        cursor: pointer;
        max-width: 20%;
    }
    .content_t h3
    {
        font-size: 1.4em;
        color: #333;
        margin-top: 30px;
    }
    .sci
    {
        margin-left: 28%;
    }
}
@media (max-width: 667px) {
    header a
    {
        filter: invert(0%);
        position: relative;
        max-width: 150px;
        width: 300px;
        left: 5%;
    }

    header .navigation li a
    {
        display: inline-block;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
        font-family: "font_cdh";
        font-size: 4em;
        letter-spacing: 5px;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1;
        filter: invert(100%);
    }
    .toggle.active
    {
        position: fixed;
        right: 40px;
        background: url('../img/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    #casilla_miembros h2
    {
        font-family: "font_cdh";
        position: relative;
        top: -80px;
        letter-spacing: 6px;
        font-size: 4em;
        color: white;
    }
    #resultado
    {
        position: relative;
        top: -80px;
        height: 350px;
    }
    .card
    {
        position: relative;
        width: 340px;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid red;
        top: -100px;
        right: -10px;
    }
    .content .grupo-inicio
    {
        position: relative;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/fogata.png");
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 30px 40px black;
        top: -100px;
        z-index: 1;
    }
    .grupo-inicio img
    {
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }
    #m1
    {   
        top: 10%;
        left: -30%;
        z-index: 10;
        cursor: pointer;
        max-width: 20%;
    }
    #m2
    {
        height: 65%;
        top: 5%;
        left: 15%;
        cursor: pointer;
        max-width: 20%;
    }
    #m3
    {
        top: 10%;
        left: 73%;
        cursor: pointer;
        max-width: 20%;
    }
    #m4
    {
        top: 5%;
        left: 0%;
        cursor: pointer;
        max-width: 20%;
    }
    #m5
    {
        height: 65%;
        top: 5%;
        left: 63%;
        cursor: pointer;
        max-width: 20%;
    }
    #m6
    {
        top: -10%;
        left: 82%;
        cursor: pointer;
        max-width: 20%;
    }
    #m7
    {
        top: 5%;
        left: 27%;
        cursor: pointer;
        max-width: 20%;
    }
    .content_t h3
    {
        font-size: 1.4em;
        color: #333;
        margin-top: 30px;
    }
    .sci
    {
        margin-left: 28%;
    }
}
@media (max-width: 500px) {
    header a
    {
        filter: invert(0%);
        position: relative;
        max-width: 150px;
        width: 300px;
        left: 18%;
    }

    header .navigation li a
    {
        display: inline-block;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
        font-family: "font_cdh";
        font-size: 4em;
        letter-spacing: 5px;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1;
        filter: invert(100%);
    }
    .toggle.active
    {
        position: fixed;
        right: 40px;
        background: url('../img/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    header .navigation li a
    {
        margin: 10px 20%;
        font-size: 3em;
        font-weight: 300;
    }
    #casilla_miembros h2
    {
        font-family: "font_cdh";
        position: relative;
        top: -80px;
        letter-spacing: 6px;
        font-size: 4em;
        color: white;
    }
    #resultado
    {
        position: relative;
        top: -80px;
        height: 350px;
    }
    .card
    {
        position: relative;
        width: 340px;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid red;
        top: -100px;
        right: -10px;
    }
    .card h3
    {
        position: relative;
        top: -35px;
    }
    .apodo
    {
        position: relative;
        top: -35px;
    }
    .card .textIcon_t h4
    {
        position: relative;
        top: -35px;
    }
    .cross
    {
        position: relative;
        width: 40px;
        height: 40px;
        padding: 2px 2px;
        top: -300%;
        left: -11%;
        border: 1px solid red;
        text-decoration: none;
        border-radius: 20px 0 40px 0;
        color: red;
        font-weight: bold;
    }
    .cross span {
        margin: 15px 1px;
        align-items: center;
    }
    .content .grupo-inicio
    {
        position: relative;
        width: 100%;
        height: 250px;
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/fogata.png");
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 30px 40px black;
        top: -60px;
        z-index: 1;
    }
    .grupo-inicio img
    {
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }
    #m1
    {   
        top: 10%;
        left: -30%;
        z-index: 10;
        cursor: pointer;
        max-width: 20%;
    }
    #m2
    {
        height: 65%;
        top: 5%;
        left: 15%;
        cursor: pointer;
        max-width: 20%;
    }
    #m3
    {
        top: 10%;
        left: 73%;
        cursor: pointer;
        max-width: 20%;
    }
    #m4
    {
        top: 5%;
        left: 0%;
        cursor: pointer;
        max-width: 20%;
    }
    #m5
    {
        height: 65%;
        top: 5%;
        left: 63%;
        cursor: pointer;
        max-width: 20%;
    }
    #m6
    {
        top: -10%;
        left: 82%;
        cursor: pointer;
        max-width: 20%;
    }
    #m7
    {
        top: 5%;
        left: 27%;
        cursor: pointer;
        max-width: 20%;
    }
    .content_t h3
    {
        font-size: 1.4em;
        color: #333;
        margin-top: 30px;
    }
    .sci
    {
        margin-left: 18%;
    }
}
@media (max-width: 375px) {
    header a
    {
        filter: invert(0%);
        position: relative;
        max-width: 150px;
        width: 300px;
        left: 10%;
    }

    header .navigation li a
    {
        display: inline-block;
        color: black;
        font-weight: 500;
        text-decoration: none;
        margin-left: 40px;
        font-family: "font_cdh";
        font-size: 4em;
        letter-spacing: 5px;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(../img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 1;
        filter: invert(100%);
    }
    .toggle.active
    {
        position: fixed;
        right: 40px;
        background: url('../img/close.png');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header .navigation
    {
        display: none;
    }
    header .navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    header .navigation li a
    {
        margin: 10px 20%;
        font-size: 3em;
        font-weight: 300;
    }
    #casilla_miembros h2
    {
        font-family: "font_cdh";
        position: relative;
        top: -60px;
        letter-spacing: 6px;
        font-size: 4em;
        color: white;
    }
    #resultado
    {
        position: relative;
        top: -60px;
        height: 450px;
    }
    .card
    {
        position: relative;
        width: 340px;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid red;
        top: -60px;
        right: 10px;
    }
    .cross
    {
        position: relative;
        width: 40px;
        height: 40px;
        padding: 2px 2px;
        top: -300%;
        left: -11%;
        border: 1px solid red;
        text-decoration: none;
        border-radius: 20px 0 40px 0;
        color: red;
        font-weight: bold;
    }
    .cross span {
        margin: 15px 1px;
        align-items: center;
    }
    .card h3
    {
        position: relative;
        top: -35px;
    }
    .apodo
    {
        position: relative;
        top: -35px;
    }
    .card .textIcon_t h4
    {
        position: relative;
        top: -35px;
    }
    .content .grupo-inicio
    {
        position: relative;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/fogata.png");
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 30px 40px black;
        top: -50px;
        z-index: 1;
    }
    .grupo-inicio img
    {
        max-width: 200px;
        height: 100%;
        object-fit: contain;
    }
    #m1
    {   
        top: 10%;
        left: -30%;
        z-index: 10;
        cursor: pointer;
        max-width: 20%;
    }
    #m2
    {
        height: 60%;
        top: 0%;
        left: 15%;
        cursor: pointer;
        max-width: 20%;
    }
    #m3
    {
        top: 10%;
        left: 73%;
        cursor: pointer;
        max-width: 20%;
    }
    #m4
    {
        top: 5%;
        left: 0%;
        cursor: pointer;
        max-width: 20%;
    }
    #m5
    {
        height: 60%;
        top: 0%;
        left: 63%;
        cursor: pointer;
        max-width: 20%;
    }
    #m6
    {
        top: -10%;
        left: 82%;
        cursor: pointer;
        max-width: 20%;
    }
    #m7
    {
        top: 5%;
        left: 27%;
        cursor: pointer;
        max-width: 20%;
    }
    .content_t h3
    {
        font-size: 1.4em;
        color: #333;
        margin-top: 30px;
    }
    .sci
    {
        margin-left: 12%;
    }
}
