.content
{
    top: 20px;
}
.content .ficha
{
    position: relative;
    width: 100%;
    height: 600px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.ficha .f1
{
    margin-left: 20px;
    margin-top: -14px;
    /* border: 1px solid red; */
}
.ficha img
{
    position: absolute;
    top: 30px;
    left: 0;
    height: 600px;
    animation: mover 1s forwards;
}
@keyframes mover
{
    0%{
        transform:translate(0, 0);
    }
    100%{
        transform:translate(0, -25px);

    }
}
.content .ficha .redes_sociales
{
    position: absolute;
    width: 250px;
    top: 500px;
}
.content .ficha .redes_sociales a
{
    text-decoration: none;
    color: #fff;
    /* color: red; */
    margin-top: 10px;
    padding-left: 35px;
    display: inline-block;
    display: flex;
}
.insta
{
    margin-top: 5px;
}
.whats
{
    margin-top: 40px;
}
.content .ficha .redes_sociales a img
{
    width: 25px;
    height: 25px;
    filter: invert(1);
    transform: scale(0.5);
}
.content .ficha .content_f
{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.content .ficha:hover .content_f
{
    transform: translateY(0px);
    opacity: 1;
}
.content .ficha .content_f h2
{
    position: absolute;
    pointer-events: none;
}
.content .ficha .content_f img
{
    top: -70px;
    left: 260px;
    z-index: -1;
    /* width: 100%; */
    width: 500px;
    height: 400px;
}
.content .ficha .content_f h3
{
    padding-top: 250px;
    margin-left: 200px;
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.content .ficha .content_f p
{
    margin-left: 200px;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    text-align: left;
    z-index: 1;
}
.volver
{
    position: absolute;
    bottom: 120px;
    left: 45%;
    display: flex;
    cursor: pointer;
}
#espada
{
    width: 90px;
    height: 40px;
}
#espada:hover
{
    animation: resplandor .5s infinite alternate;
}
@media (max-width: 1790px){
    .content .ficha .content_f img
    {
        top: -25px;
        left: 400px;
        z-index: -1;
        width: 580px;
        height: 500px;
    }
    .content .ficha .content_f h3
    {
        position: relative;
        margin: 10px;
        top: -260px;
        text-align: left;
    }
    .content .ficha .content_f p
    {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        top: -240px;
        left: -100px;
        font-size: 1.1em;
        width: 70%;
    }
    .ficha .f1{
        left: 20px;
    }
    .insta
    {
        margin-top: 40px;
        margin-left: -260px;
    }
    .whats
    {   
        margin-top: 40px;
        margin-left: 130px;
    }
    .redes_sociales a:nth-child(1)
    {
        margin-top: 40px !important;
        margin-left: -250px !important;
    }
    .redes_sociales a:nth-child(2)
    {
        margin-top: -22px !important;
        margin-left: 130px !important;
    }
}
@media (max-width: 1546px){
    .ficha .f1{
        left: 0;
    }
    .content .ficha .content_f p
    {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        top: -240px;
        left: -70px;
        font-size: 1.1em;
        width: 70%;
    }
}
@media (max-width: 1330px){
    .content .ficha .content_f img
    {
        top: -25px;
        left: 200px;
        z-index: -1;
        width: 580px;
        height: 500px;
    }
    .ficha .f1{
        left: 0;
    }
    .content .ficha .content_f p
    {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        top: -240px;
        left: -50px;
        font-size: .9em;
        width: 70%;
    }
    .insta
    {
        margin-top: 40px;
        margin-left: -200px;
    }
    .redes_sociales a:nth-child(1)
    {
        margin-top: 40px !important;
        margin-left: -190px !important;
    }
}
@media (max-width: 1200px){
    .ficha .f1
    {
        display: none;
    }
    .content .ficha .content_f p
    {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        top: -240px;
        left: -50px;
        font-size: 1em;
        width: 70%;
    }
    .sci
    {
        margin-left: 32.5%;
    }
}
@media (max-width: 625px){
    .content .ficha .content_f p
    {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        top: -240px;
        left: -10px;
        font-size: .9em;
        width: 70%;
    }
    .insta
    {
        margin-top: 40px;
        margin-left: -120px;
    }
    .redes_sociales a:nth-child(1)
    {
        margin-top: 40px !important;
        margin-left: -110px !important;
    }
}
@media (max-width: 501px) {
    .ficha .f1
    {
        display: none;
    }
    .content .ficha .content_f
    {
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .content .ficha .content_f h3
    {
        position: relative;
        margin: 10px;
        top: -50px;
        text-align: center;
    }
    .content .ficha .content_f p
    {
        position: relative;
        left: auto;
        width: auto;
        top: -30px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: .9em;
    }
    .insta
    {
        margin-top: 40px;
        margin-left: -60px;
    }
    .whats
    {   
        margin-top: 40px;
        margin-left: 130px;
    }
    .redes_sociales a:nth-child(1)
    {
        margin-top: 40px !important;
        margin-left: -50px !important;
    }
    .redes_sociales a:nth-child(2)
    {
        margin-top: -22px !important;
        margin-left: 130px !important;
    }
    .content .ficha .content_f img
    {
        top: -55px;
        left: 20px;
        z-index: -1;
        width: 380px;
        height: 300px;
    }
    .content .ficha:hover .content_f img
    {
        top: -55px;
        left: 20px;
        z-index: -1;
        width: 380px;
        height: 300px;
    }
    .sci
    {
        margin-left: 24%;
    }
}
@media (max-width: 375px){
    .insta
    {
        margin-top: 15px;
        margin-left: 45px;
    }
    .redes_sociales a:nth-child(1)
    {
        margin-top: 60px !important;
        margin-left: -30px !important;
        font-size: .8em;
    }
    .whats
    {   
        margin-top: 15px;
        margin-left: 180px;
    }
    .redes_sociales a:nth-child(2)
    {
        margin-top: -16px !important;
        margin-left: 110px !important;
        font-size: .8em;
    }
    .sci
    {
        margin-left: 12%;
    }
    .content .ficha .content_f img
    {
        top: -15px;
        left: 15px;
        z-index: -1;
        width: 270px;
        height: 190px;
    }
    .content .ficha:hover .content_f img
    {
        top: -15px;
        left: 15px;
        z-index: -1;
        width: 270px;
        height: 190px;
    }
    #espada{
        margin-left: -20px;
    }
}
